<div class="container">
  <div class="text-left mb-2">
    <button type="submit" class="btn btn-primary" (click)="onNew()">Add New</button>
  </div>
  <div class="row mb-1">
    <div class="col-3">
      <input class="form-control" type="text" placeholder="Filter" [(ngModel)]="quickFilter" />
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-condensed" [mfData]="productList | dataFilter : quickFilter"
      #mf1="mfDataTable" [mfRowsOnPage]="5" [mfSortBy]="'firstName'" [mfSortOrder]="'asc'">
      <thead>
        <tr *ngIf="productList?.length > 0">
          <td colspan="7">
            <strong>{{(productList | dataFilter : quickFilter)?.length}}</strong>
            <span> items found</span>
          </td>
        </tr>
        <tr>
          <th>#</th>
          <th><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
          <th><mfDefaultSorter by="description">Description</mfDefaultSorter></th>
          <th><mfDefaultSorter by="price">Price</mfDefaultSorter></th>
          <th><mfDefaultSorter by="quantity">Quantity</mfDefaultSorter></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="(productList | dataFilter : quickFilter)?.length === 0">
          <td colspan="7">
            <div class="alert alert-info mb mt">No Items Found</div>
          </td>
        </tr>
        <tr *ngFor="let item of mf1.data">
          <th scope="row">{{ productList.indexOf(item) + 1 }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.quantity }}</td>
          <td>
            <button type="button" class="btn btn-info" (click)="onEdit(item)">Edit</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDelete(item)">Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <hr>
  <div class="mb-4" *ngIf="showNew">
    <h4>{{submitType == "Save" ? 'Add New' : 'Edit'}}</h4>
    <hr>
    <form #productForm="ngForm" (ngSubmit)="onSave()">
      <div class="form-group row">
        <label for="name" class="col-2 col-form-label">Product Name</label>
        <div class="col-10">
          <input #name="ngModel" class="form-control" type="text" [(ngModel)]="productModel.name" id="name" name="name" required>
          <div *ngIf="!name?.valid && (name?.dirty || name?.touched)"
            class="text-danger">
            Product Name is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-2 col-form-label">Description</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="productModel.description" name="description" name="description">
        </div>
      </div>
      <div class="form-group row">
        <label for="price" class="col-2 col-form-label">Price</label>
        <div class="col-10">
          <input #price="ngModel" class="form-control" type="number" [(ngModel)]="productModel.price" id="price" name="price" required>
          <div *ngIf="!price?.valid && (price?.dirty || price?.touched)"
            class="text-danger">
            Price is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="quantity" class="col-2 col-form-label">Quantity</label>
        <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
          <button type="button" class="btn btn-outline-primary" id="dropdownManual" id="quantity" name="quantity" ngbDropdownToggle>{{productModel.quantity}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button type="button" class="dropdown-item" *ngFor="let quantity of fixedQuantity" (click)="onChangeQuantity(quantity)">{{quantity}}</button>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!productForm.valid">{{submitType}}</button>
      <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
    </form>
  </div>
</div>
